*{
    margin:0px;
    padding:0px;
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
//promenljive
$font_naslov_nav:'Staatliches', cursive;
$font_paragraf:'Martel Sans', sans-serif;
$boja_slova:#FFFBFA;
$visina:100vh;
ul{
    li{
        list-style-type: none;
    }
    .aboutIcon{
        padding-top:10px;
        padding-right: 10px;
    }
}
h1,h2,h3,h4{
    // font-family: $font_naslov_nav;
    font-family: 'Work Sans', sans-serif;
} 
h2{
    font-size:3.7em;
    // background-color: transparent;
   
    // margin:0px auto 80px auto;
    margin-bottom: 50px;
     text-align: center;
     // margin:70px auto;
     padding:10px 0px;

    
     color:#333;
    // font-size:3em!important;
    // background-color:rgba($color: #ed213a, $alpha: .75);
    // width:280px;
    // padding-left: 10px;
    text-align: center;
    // border-radius: 50px;
    // clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
      
}
body{
 
// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23484849' fill-opacity='0.38'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    // height: 1000px;
    position:relative;
    // background-color:#000 !important;
    // background-image: url("../img/pozadina11.jpg");
    background-repeat: repeat;
    // background-size: cover;
   
}
// .navOpened{
//     position:fixed;
//     top:0px;
//     left:0px;
//     width:60%;
//     height:$visina;
//     background-color: rgba($color: #000, $alpha: .8);
//     z-index: 10000;
//     transition:.8s ease;
// }
header{
    // background-image: url("../img/pozadina11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: $visina;
    nav{
        top:0px;
        z-index:10000;
        .logo{
            img{
                width: 60px;
                margin-top:10px;
            }
           
        }
        .smallClick{
            // background-color: rgba(210, 77, 87, .95);
            background-color:rgba($color: #0b0837, $alpha: .9);
            position:fixed;
            top:0px;
            right:0px;
            width: 100%;
            height: $visina;
            margin:0px;
            display:flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            transition:.4s ease;
            color:#fff;
            
            a{
                
             
                text-decoration: none;
                font-size:1.15em;
                font-weight: 600;
                text-transform: uppercase;
                color:$boja_slova!important;
                font-family: $font_paragraf;
                transition: .5s ease;
                border-bottom:2px solid rgba(0,0,0,0);
                // border-right:2px solid rgba(0,0,0,0);
                &:hover{
                    padding-bottom: 20px;
                   border-bottom:2px solid #ED213A;
                //    border-right:2px solid #ED213A;
                   border-radius: 2px;
                }
                width:50%;
                margin:0px;
                padding:30px;
                margin:0px auto;
                
            }
        }
        .big{
            margin-top:15px;
            margin-right: 10px;
            a{
                text-decoration: none;
                font-size:1.15em;
                font-weight: 600;
                text-transform: uppercase;
                color:$boja_slova!important;
                font-family: $font_paragraf;
                transition: .5s ease;
                border-bottom:2px solid rgba(0,0,0,0);
               
                &:hover{
                    padding-bottom: 10px;
                   border-bottom:2px solid #ED213A;

                   border-radius: 2px;
                }
                
            }
            a:nth-of-type(2){
                margin:0px 25px;
            }
            
        }
        .small{
            z-index: 100000;
            .navIco{
               font-size:32px;
                color:#fff;
                position:fixed;
                top:10px;
                right: 10px;
                z-index:1000;
                display:none;
                background-color:#0b0837;
                padding:5px;
            }
            .navTextResponsive{
                display: none;
            }
        }
       
    }
    
    #headline{
        color:$boja_slova;
        width: 850px;
        // background-color: rgba($color: #000000, $alpha: .5);
        border-radius: 20px;
        margin-top:10%;
        height: auto;
        padding:50px;
        h1{
            // padding-top: 40px;   
            margin:auto;
            font-size:4em;
            text-align: left;
            // text-align: justify;
          
        }
        p{
            padding:30px 0px;
            width: 600px;
            font-size:1.2em;
            font-family: $font_paragraf;
            
            font-weight: 600;
        }
        
        a{
            
            // background-image: linear-gradient(#ED213A, #93291E);
            // border:2px solid rgba(0,0,0,0.0);
            color:#fff;
            padding:15px 20px;
            font-size:1.1em;
            font-weight: 600;
            text-decoration: none;
            // border-radius: 5px;
            border:3px solid #ed213a;
          transition:.5s ease;

            &:hover{
                
                background-color:rgba($color: #ed213a, $alpha: .75);
                border:3px solid rgba(0,0,0,0.0);
                
                // background:rgba(0,0,0,0.0);
              
                // clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
                
               
            }
        }
       
    }
    .aaa{
        width: 300px;
        display: flex;
        justify-content:center;
        margin-left:50%;
        transform: translate(-50%,-50%);
        position: relative;
        bottom:-270px; 
    }
}
main{
 
    // background-color:#FCC9B9;
    background-color: rgba($color: #FCFCFC, $alpha: 1);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
    .animacijaAbout{
        position: absolute;
        top:320px;
        right:280px;
        width:500px;
    }
    #about{
        
        min-height: $visina;
        padding-top: 80px;
        
        // display:flex;
        h2{
            font-size:3.7em;
            background-color: transparent;
           
            // margin:0px auto 80px auto;
            margin-bottom: 50px;
             text-align: center;
             // margin:70px auto;
             padding:10px 0px;
             width:30%;
             color:#f3f3f3;
             color:#333;
           
             
         }
        .about{
            position:relative;
            // margin:50px auto;
            // left:-150px;
            // width:600px;
            font-family: $font_paragraf;
            color:#333;
            font-size: 1.1em;
            justify-content: space-between;
            margin-left:20px;
            
            .levoAbout{
                .tekst{
                    
                    p{
                        // z-index: 10000000;
                        font-size:1.15em;
                        width:650px;
                        text-align: justify;
                        // margin:0px auto;
                        &:first-of-type{
                            margin-bottom: 20px;
                        }
                        &:last-of-type{
                            margin-top: 20px;
                        }
                    }
                    
                }
                
                .lista{
                    // background-image: url('../img/animacija6.gif');
                    // background-repeat: no-repeat;
                    // background-position: center;
                    width:900px;
                    // margin:auto;
                    // display: flex;
                    // justify-content: center;
                    // justify-content: center;
                    font-weight: 600;
                    font-size:1.15em;
                    // justify-content:space-between;
             
                   ul{
                    
                       margin-left: 30px;
                       margin-top:20px;
                    &:first-of-type{
                        margin-right: 0px;
                    }
                    // &:last-of-type{
                    //     li{
                    //         img{
                    //             width:350px;
                    //         }
                    //     }
                    // }
                   }
                }
            }
            .desnoAbout{
                
                img{
                    width:450px;
                  
                }
                
            }
        }
        
        
    }
        
    
    #work{
        border-radius: 5px;
        // border-radius: 50px;
        // background-image: url("../img/pozadina11.jpg");
        // background-image:linear-gradient(to right, #131a43,#093679) ;
        background-image:linear-gradient(#131a43,#0b0837) ;
        // background-image:linear-gradient(#131a43,#000) ;
        // background-image: url('../img/animacija.gif');
        // background-image: url("../img/animacija2.gif");
        // background-repeat: no-repeat;
        // background-position: bottom;
        // background-size: cover;

        height: $visina;
        color:$boja_slova;
        padding:50px 15px;
        // display: flex;
        // justify-content: space-between;
        .responsiveHeadline{
            display:none;
        }
        h2{
        //     margin-bottom: 5vh;;
        //    width:30%;
        //    margin-bottom:100px;
        //    padding:10px 0px;
        //    margin:auto;
        color:#fcfcfc;
                padding:10px 0px;
                margin:10px auto;
                font-size:3.7em;
        }
        #project{
            margin:auto;
           
            p{
                font-size:1.05em;
                font-weight: 600;
               width:500px;
                font-family: $font_paragraf;
            }
            ul{
                // padding-left: 20px;
                
                li{
                   
                    padding:2px 0px;
                }
            }
            span{
                font-weight: 400;
            }
        }
       
    
        
        
        .project{

         
            display: flex;
            width: 80%;
            margin:50px auto;
            flex-direction: column; 
            height: 850px;
            // height:400px;
     
            overflow-y: scroll;
            // float: right;
            // width:540px;
          
            /* Hide scrollbar for Chrome, Safari and Opera */
            
            &::-webkit-scrollbar{
                display: none;
            }
            // -ms-overflow-style: none;  /* IE and Edge */
            // scrollbar-width: none;  /* Firefox */
            // &::-webkit-scrollbar-track
            // {
            //     box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            //     // background-color: #F5F5F5;
            //     // background-color: transparent;
            //     // border:1px solid #fff;
            //     border-radius: 4px;
            // }
            
            // &::-webkit-scrollbar
            // {
            //     width: 6px;
               
            // }
            
            // &::-webkit-scrollbar-thumb
            // {
            //     background-color: #F5F5F5;
            //     background-color: #fafafa;
            //     border-radius: 4px;
            //     // border: 2px solid #555555;
            // }
            .img_wrap{
                text-align: center;
                position:relative;
                margin-bottom: 20px;
                img{
                    border-radius: 2px;
                    
                    width:600px;
                    
                    margin-bottom: 0px;
                   
                    transition:0.4s ease;
                    // margin:20px 0px;
                    // margin:20px auto;
                    border-radius: 5px;
                    &:hover{
                        
                        overflow: visible;
                        // box-shadow: 0 35px 16px rgba(0,0,0,0.6), 0 3px 61px rgba(0,0,0,0.23);
                    }
                }
                .img_desc{
                  
                    position: absolute;  
                    visibility: hidden;
                    opacity: 0;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%); 
                    z-index: 1000;
                    color:#FCFCFC;
                    transition: opacity .5s, visibility .5s;
                    // background-color: rgba($color: #D24D57, $alpha: .95);
                    background-color: rgba($color:#fcfcfc, $alpha: 1);
                   
                    color:#333;
                    width:600px;
                    height: 101%;
                    border-radius: 5px;
                    
                    h3{
                       margin:25px 0px;
                       
                    }
                    .desc{
                        font-size:1.05em;
                        text-align: justify;
                        width: 90%;
                        margin:0px auto;
                    }
                    .tech{
                        width: 90%;
                        display: flex;
                        margin:30px auto;
                        justify-content: space-around;
                        li{
                            width: 120px;
                           background: #333;
                           border-radius: 2px;
                           color:#fff;
                        //    padding:10px;
                        padding:5px 0px;
                           font-weight: 600;
                        }
                    }
                    .links{
                        font-size:1.05em;
                        font-weight: 600;
                        a{
                            margin:0px 10px;
                            color:#333;
                            text-decoration: none;
                            padding: 5px;
                            border-radius: 2px;
                            border:2px solid rgba($color: #000000, $alpha: 0);
                            text-transform: uppercase;
                            &:hover{
                                border: 2px solid #000000;
                               
                            }
                        }
                    }
                }
                &:hover .img_desc{
                    visibility: visible;
                    opacity:1;
                    box-shadow: 25px 15px 16px rgba(0,0,0,0.6), 3px 3px 30px rgba(0,0,0,0.23);
                   
                }
            }
            // img{
            //     border-radius: 2px;
                
            //     width:600px;
                
            //     margin-bottom: 0px;
               
            //     transition:0.4s ease;
            //     // margin:20px 0px;
            //     margin:20px auto;
            //     &:hover{
                    
            //         overflow: visible;
            //         box-shadow: 0 35px 16px rgba(0,0,0,0.6), 0 3px 61px rgba(0,0,0,0.23);
                    
            //     }
            // }

        }
       
        
    }
   
}
footer{
    // background-image: url("../img/pozadin.jpg");
    background-color: rgba($color: #FCFCFC, $alpha: 1);
    background-size: cover;
    background-repeat: no-repeat;
    color:$boja_slova;
    height:100vh;
    color:#333;

    #contact{
        display: flex;
        height:96vh;
        margin:auto;
        text-align: center;
       
       .tekst{
            // background-image: url("../img/pozadina11.jpg");
            background-image:linear-gradient(#0b0837,#0a021d) ;
            background-image:linear-gradient(#23153c,#0a021d) ;
            // background-image: url("../img/animacija.gif");
           
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding:50px 100px;
            margin:auto;
            border-radius: 5px;
            width:100%;
            height:50vh;
            h2{
                // width:40%;
                color:#fcfcfc;
                padding:10px 0px;
                margin:20px auto 20px auto;
                font-size:3.7em;
            }
            p{
                font-size:1.15em;
            //   margin-bottom: 50px;
                width:500px;
                margin:0px auto;
                margin-bottom: 60px;
                font-weight: 600;
                color:#fcfcfc;
            }
            a{
              
               
                color:#fff;
            padding:15px 20px;
            font-size:1.1em;
            font-weight: 600;
            text-decoration: none;
            border-radius: 2px;
            border:3px solid #ed213a;
          transition:.5s ease;
                
                &:hover{
                    transition: .5s ease;
                    border:3px solid rgba(0,0,0,0.0);
                    background-color: rgba($color: #ED213A, $alpha: .7);
                    // background:rgba(0,0,0,0.0);
                    color:#fff;
                    // background-image: linear-gradient(#ED213A, #93291E);
                    // clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
                   
                }
            }
       }
    }
    small{
        font-family: $font_paragraf;
        display: flex;
        justify-content: center;
    }
}
// #arrow{
//     color:#fff;
//     font-size:36px;
//     float: right;
   
//     position:fixed;
//     bottom:10px;
//     right:20px;
//     display: none;
    
//     a{
//         color:#fff;
//         transition:.3s ease;
//         &:hover{
//             font-size:40px;
//             padding-right: 5px;
//         }
//         &:visited{
//             padding-right: 0px;
//         }
//         &:active{
//             padding-right: 0px;
//         }
//         &:link{
//             padding-right: 0px;
//         }
//     }
// }

#social{
   
    display:flex;
    flex-direction: column;
    position:fixed;
    bottom:50%;
    transform:translate(50%, 50%); 
    left:25px;
    font-size:22px;
    a{
        color:#f3f3f3;
        // transition: .5s ease;
        
    }
    .social{
        padding:10px 0px;
        
        
    }
}

#page{
    display: flex;
    flex-direction: column;
    position: fixed;
    right:20px;
    top:50%;
    transform:translate(50%, -50%); 
    // color:#333;
    a{
        color:#f3f3f3;
        // color:#333;
    }
    .page_circle{
        padding:5px 0px;

    }

    .active{
        // background-color: #f3f3f3;
        color:#333;
        background-color:#333;
        border-radius:50%;
        height:5px;
        margin:10px 0px;
    }
}
#load{
    
    height:100vh;
    width:100vw;
    position: fixed;
    top:0px;
    z-index: 100000;
    // background-color: #131a43;
    background-color:#23153c;
    .linija{
        // height:15px;
        // width:200px;
        // border:1px solid #fff;
        // position: absolute;
        // top:50%;
        // left:50%;
        // transform: translate(-50%,-50%);
        // border-radius: 5px;
        // animation: loadAnimacija 4s ease;
        progress{
            width:200px;
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            
        }
        #procenat{
            position: absolute;
            top:55%;
            left:50%;
            transform: translate(-50%,-50%);
            color:#fff;
            z-index: 10000001;
            font-weight: 500;
        }
        
    }
}
@keyframes loadAnimacija{
    0%{
        background-color: red;
    }
    50%{
        background-color: blue;
    }
    100%{
        background-color: red;
    }
}
//     .load{
//         background-color: #131a43; 
//         width: 50%;
//         height: 50%;
        
//         position: fixed;
//         top:40%;
//         left:50%;
//         transform:translate(-50%, -50%); 
//         animation: fill .3s ease forwards 2.5s;
       
//     }
//     path:nth-child(1){
//         stroke-dasharray: 331.2341613769531;
//         stroke-dashoffset: 331.2341613769531;
//         animation: loadAnimacija 1s ease forwards;
//     }
//     path:nth-child(2){
//         stroke-dasharray: 287.74371337890625;
//         stroke-dashoffset: 287.74371337890625;
//         animation: loadAnimacija  1s ease forwards 0.15s;
//     }
//     path:nth-child(3){
//         stroke-dasharray: 204.6783905029297;
//         stroke-dashoffset: 204.6783905029297;
//         animation: loadAnimacija 1s ease forwards 0.3s;
//     }
//     path:nth-child(4){
//         stroke-dasharray: 204.6783905029297;
//         stroke-dashoffset: 204.6783905029297;
//         animation: loadAnimacija 1s ease forwards 0.45s;
//     }
//     path:nth-child(5){
//         stroke-dasharray: 299.7310485839844;
//         stroke-dashoffset: 299.7310485839844;
//         animation: loadAnimacija 1s ease forwards .6s;
//     }
//     path:nth-child(6){
//         stroke-dasharray: 457.3367614746094;
//         stroke-dashoffset: 457.3367614746094;
//         animation: loadAnimacija 1s ease forwards .75s;
//     }
//     path:nth-child(7){
//         stroke-dasharray: 299.7310485839844;
//         stroke-dashoffset: 299.7310485839844;
//         animation: loadAnimacija 1s ease forwards 1s;
//     }
//     path:nth-child(8){
//         stroke-dasharray: 326.8431701660156;
//         stroke-dashoffset: 326.8431701660156;
//         animation: loadAnimacija 1s ease forwards 1.15s;
//     }
//     path:nth-child(9){
//         stroke-dasharray: 204.67889404296875;
//         stroke-dashoffset: 204.67889404296875;
//         animation: loadAnimacija 1s ease forwards 1.3s;
//     }
//     path:nth-child(10){
//         stroke-dasharray: 313.2584228515625;
//         stroke-dashoffset: 313.2584228515625;
//         animation: loadAnimacija 1s ease forwards 1.45s;
//     }
// }
header,main,#page,
#social,#footer{
    visibility: hidden;
}

@keyframes tekst{
    from{
        margin-right: 50px;
    }
    to{
        margin-right: 0px;
    }
}
@keyframes hamburger{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes hamburgerNazad{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}
// @keyframes loadAnimacija{
//     to{
//         stroke-dashoffset: 0;
//     }
// }
// @keyframes fill{
//     from{
//         fill: transparent;
//     }
//     to{
//         fill:#fff;
//     }
// }
@media screen and (max-width:1600px){
    main{
        .animacijaAbout{
            width:450px;
        }
    }
}
@media screen and (max-width:1440px){
    h2{
        font-size: 3.3em!important;
    }
    .container{
        max-width: 960px!important;
    }
    header{
        #headline{
            h1 {
                font-size: 3.5em;
            }
        } 
    }   
    main{
        .animacijaAbout{
            position: absolute;
            top:350px;
            right:280px;
            width:400px;
        }
        #about{
            padding-top: 100px;
            h2{
                text-align: left;
                width:100%;
            }
            .about{
                .levoAbout{
                    .tekst{
                        p{
                            font-size:1.1em;
                        }
                    }
                    .lista{
                        font-size:1.1em;
                        ul{
                            margin-left:0px;
                        }
                    }
                }
            }
            .about .levoAbout .lista ul:last-of-type li img {
                width: 300px;
            }
           
        }
        #work{
            .project{
                .img_wrap{
                    img{
                        width: 550px;
                    }
                    .img_desc{
                        width: 550px;
                    }
                }
            }
        }   
    } 
    footer{
        #contact{
            .tekst{
                h2{
                    width: 50%;
                    margin: 20px auto 20px auto;
                }
            }
        }
    }
}
@media screen and (max-width:1366px){
    header{
        .aaa{
            width:250px;
        }
    }
    main{
        .animacijaAbout{
            top:250px;
            width:350px;
        }
        #about{
            padding-top:50px;
            h2{
                
                margin:0px auto 50px auto;
            }
            .about .levoAbout .lista ul:last-of-type li img {
                width: 250px;
            }
            .about .levoAbout .tekst p {
                width:600px;
            }
        }
        #work{
            .project{
                height:650px;
            }
        }
    }
    footer{
        #contact{
            .tekst{
                padding: 30px 100px;
                p{
                    width:auto;
                }
            }
        }
    }
}
@media screen and (max-width:1280px){
    header{
        #headline{
            h1 {
                font-size: 3em;
            }
        } 
        .aaa{
            width:225px;
            bottom: -225px;
        }
    } 
    main{
        #about{
            h2{
                margin: 0px auto 30px auto;
            }
            .about .levoAbout .tekst p{
                
                    font-size: 1.05em;
                
                
                &:first-of-type {
                    margin-bottom: 15px;
                }
                &:last-of-type{
                    margin-top: 15px;
                }
            } 
            .about .levoAbout .lista{
                font-size:1.1em;
            }
        }
        #work{
            .project{
                height: 600px;
                .img_wrap{
                    img{
                        width: 500px;
                    }
                    .img_desc{
                        width: 500px;
                        h3{
                            margin:15px 0px;
                        }
                        .desc{
                            font-size:.95em;
                        }
                        .tech{
                            width: 95%;
                            margin: 25px auto;
                            justify-content: center;
                            li{
                                width:auto;
                                padding:5px 10px;
                                margin:0px 10px;
                            }
                        }
                    }
                }
            }
        } 

    }
}
@media screen and (max-width:1024px) and (max-height:1366px){
    header{
        #headline{
            width:600px;
            margin-top: 25%;
            h1{
                font-size:4em;
            }
            p{
                width: 450px;
            }
        }
        .aaa{
            bottom:-450px;
            width:250px;
        }
    }
    .container{
        width: 720px!important;
    }
    main{
        .animacijaAbout{
            width:400px;
            top:700px;
        }
        #about{
            padding-top: 200px;
            h2{
                // width:50%;
                margin-left:10px;
            
            }
            .about{
                .levoAbout{
                    .tekst{
                        p{
                            // margin:0px auto;
                            width: 550px;
                            font-size:1.1em;
                        }
                    }
                    .lista{
                        width:720px;
                        // margin-left: 100px;
                        flex-direction: column;
                        font-size:1.15em;
                    }
                }
            }
        }
        #work{
            .project{
                height:80vh;
            }
        }
        
    }
    footer{
        #contact{
            .tekst{
                padding-top: 150px;
                h2{
                    width: 70%;
                }
            }
            
        }
    }
}
@keyframes animacijaNavTekst{
    0%{
     
        transform:scale(1);
    }
    50%{
        
        transform:scale(1.25);
    }
    100%{  
        transform:scale(1);
    }
   
                      
}
@media screen and (max-width:768px){
    // #page{
    //     display: none;
    // }
    .container{
        width: 80% !important;
    }
    
    header{
        
        nav{
            .big{
                display: none;
            }

            .small{
                a{
                    text-align: center;
                    width: 45%;
                    font-size: 1.5em;
                    z-index: 10000;
                    &:hover{
                        border-bottom: 2px solid rgba(0,0,0,0);
                        animation:animacijaNavTekst .85s;
                    }
                    
                }
                .navIco{
                    display: block;
                   
                }
                .animacija{
                    animation: hamburger .8s;
                }
                .animacijaNazad{
                    animation: hamburgerNazad .8s;
                }
                .navTextResponsive{
                    display: flex;
                    
                    flex-direction: column;
                    animation: tekst 1s;
                    a{
                        &:hover{
                            padding-bottom: 20px;
                            // border-bottom:2px solid #000;
        
                            border-radius: 2px;
                        }
                    }
                    
                }
                .clickText{
                    display: none;
                }
            }
        }
        #headline{
            margin-top:12%;
            h1{
                font-size:3.5em;
            }
        }
        .aaa{
            width:200px;
            bottom:-350px;
        }
    }
    main {
        .animacijaAbout{
            top:500px;
            width:400px;
            left:300px;
        }
        #about{
            padding-top: 100px;
        }
        
        #about .about .levoAbout{
            .tekst{
                p{
                    width: 90%;
                    font-size: 1em;
                }
            }
            .lista{
                width: 90%;
                font-size: 1.05em;
                margin-left: 10px;
                ul:last-of-type li img {
                    display:none;
                }
            }
        }
        #work{
            h2{
                width:50%;
            }
            .project{
                height: 900px;
                .img_wrap{
                    img{
                        width:90%;
                    }
                    .img_desc{
                        width:100%;
                    }
                }
            }
        }
    }
    footer{
        #contact{
            .tekst{
                h2{
                    width: 100%;
                }
                padding-top: 70px;
            }
        }
    }
    
}
@media screen and (max-width:415px){
    h2{
        width:70%!important;
    }
    .container {
        width: 90% !important;
       
    }
    // .navOpened{
    //     width:30%;
    // }
    h2{
        font-size:2.5em!important;
    }
    header{
        nav{
            .logo{
                img{
                    width: 45px;
                }
        
            }
            .smallClick{
                
                width: 100%;
          
                
                a{
                   width: 45%;
                    margin:0px;
                    padding:30px;
                    margin:0px auto;
                }
            }

        }
        .aaa{
            width: 175px;
            bottom:-180px;
        }
        
        #headline{
            padding:30px 20px;
            width:90%;
            h1{
                margin-top:0px;
                font-size:2.5em!important;
                // margin-top: 25%;
            }
            p{
                width: 90%;
                font-size:1em;
            }
            a{
                padding:10px;
                font-size:1.05em;
            }
        }
      
    }
    main{
        .animacijaAbout{
            top:550px;
            width:225px;
            left:150px;
            display:none;
        }
        #about{
            flex-direction: column;
            padding-top: 50px;
            .about{
              
                font-size:1em;
                h2{
                    padding:10px 0px;
                }
                .lista{
                   
                    ul{
                      
                        margin-left:20px;
                    }

                }
            }
            
        }

        #work{
            width:85%!important;
            padding:20px 0px;
            h2{
                width:100%;
            }
            .project{
                
                // flex-direction: row;
                // width:100%;
                // overflow: scroll;
                height: 600px;
                
                .img_wrap{
                    transition: .3s ease;
                    &:link{
                        padding-bottom: 110px;
                    }
                    &:hover{
                    
                        padding-bottom:110px;
                    }
                    &:active{
                        padding-bottom: 110px;
                    }
                    &:visited{
                        padding-bottom: 110px;
                    }
                    img{
                    
                        width: 100%;
                       transition:0.3s ease;
                        //margin:0px 30px;
                        // &:link{
                        //     padding-bottom: 110px;
                        // }
                        // &:hover{
                        
                        //     padding-bottom:110px;
                        // }
                        // &:active{
                        //     padding-bottom: 110px;
                        // }
                        // &:visited{
                        //     padding-bottom: 110px;
                        // }
                        
                    }
                    
                    .img_desc{
                        width:100%;
                        padding:10px;
                       
                       
                        h3{
                            margin:5px 0px;
                            font-size:1.2em;
                        }
                        .desc{
                            width: 100%;
                            text-align: left;
                            margin-left: 5px;
                        }
                        .tech{
                            width:100%;
                            
                            li{
                                padding:5px;
                                margin:0px 5px;
                                font-size:0.8em;
                            }
                        }
                        &:hover{
                            box-shadow: none;
                            overflow-x: visible;
                           
                         
                        }
                       
                        .links{
                            font-size:.9em;
                        }
                    }
                }
            }
            
         
            
            
        }
    }
    footer{
        #contact{
          
            .tekst{
             
                padding:0px 10px;
                h2{
                    width:100%;
                    padding:10px 0px;
                }
                p{
                    font-size:1em;
                    width:95%;
                    margin:0px auto 50px auto;
                }
                a{
                    font-size:1.05em;
                    padding:10px;
                   
                }
            }
        }
    }
    #page{
        right: 15px;
    }
    #social{
       
        position:absolute;
        bottom:40px;
        flex-direction: row;
        justify-content:space-around;
        left:50%;
        transform:translate(-50%, -50%); 
        a{
            margin:0px 10px;
            font-size:24px;
            &:hover{
               padding:0px;
                transform: scale(1.1);
            }
        }
    }
    #load{
       
        .load{
            // background-color: #000; 
            width: 95%;
            height: 100%;
            
            
        }
    }
}
@media screen and (max-width:375px){
    h2{
        width:100%!important;
    }
    header{
        nav{
            
            .small{
               
                a{
                    font-size:1.3em;
                }
            }
        }
        // #headline{
        //     padding:30px 20px;
        //     h1{
        //         margin-top:0px;
        //     }
        // }
        .aaa{
            bottom:-150px;
        }
    }
    main{
        .animacijaAbout{
       
            width:200px;
        }
        #about{

           
            padding-bottom: 100px;
        }
       
    }
    footer{
        #contact{
            .tekst{
                height: 60vh;
                padding:10px 10px;
               p{
                font-size: .95em;
               }
               a{
                   font-size:1em;
               }
            }
        }
    }
    #social{
        bottom:30px;
    }
}
@media screen and (max-width:360px){
    main{
        .animacijaAbout{
        //    display: none;
        width:160px;
        left:180px;
        }
        #about{
            padding-top:20px;
            padding-bottom: 50px;
            .about{

                .levoAbout{
                    .lista{
                        margin-top: 0px;
                        margin-left:0px;
                        font-size:1em;
                    }
                }
            }
        }
        #work{
            .project{
                height: 500px;
                .img_wrap{
                    overflow-x:visible;
                    &:hover{
                        padding-bottom:140px;
                    }
                    .img_desc{
                        width: 100%;
                        h3{
                            margin-bottom: 20px;
                            font-size:1.15em;
                        }
                        .tech{
                            font-size:.8em;
                        }
                        .links{
                            a{
                                margin:0px;
                            }
                        }
                    }
                   
                }
            }
        }
        
    }
    footer{
        #contact{
            .tekst{
                height: 65vh;
                padding:10px 10px;
              
            }
        }
    }
    #social{
        bottom:20px;
    }
}
@media screen and (max-width:320px){
    h2{
        font-size:1.8em;
        // width:90%!important;
    }
    header{
        .aaa{
            width: 150px;
        }
    }
    main{
        .animacijaAbout{
            display: none;
        }
        #work{
            .project{
                height: 400px;
                .img_wrap{
                  
                    &:hover{
                        padding-bottom:200px;
                    }
                    .img_desc{
                        .links{
                            font-size:.8em;
                        }
                    }
                        
                    
                    
                   
                }
            }
        }
    }
    footer{
        #contact{
            .tekst{
                h2{
                    font-size:1.5em!important;
                }
                height: 60vh;
            }
        }
        
    }
    #social{
        bottom:0px;
    }
}