@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Staatliches&display=swap");
* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth; }

h1, h2, h3, h4 {
  font-family: "Staatliches", cursive; }

h2 {
  font-size: 3em !important; }

body {
  background-image: url("../img/what-the-hex-dark.png");
  position: relative;
  background-color: #000 !important; }

header {
  min-height: 100vh; }
  header nav {
    top: 0px; }
    header nav .logo_img {
      width: 60px;
      margin-top: 10px; }
    header nav a {
      font-size: 1.15em;
      font-weight: 600;
      text-transform: uppercase;
      color: #FFFBFA !important;
      font-family: "Exo 2", sans-serif;
      transition: .3s ease;
      border-top: 2px solid rgba(0, 0, 0, 0);
      border-right: 2px solid rgba(0, 0, 0, 0); }
      header nav a:hover {
        border-top: 2px solid #ED213A;
        border-right: 2px solid #ED213A;
        border-radius: 2px; }
    header nav a:nth-of-type(2) {
      margin: 0px 15px; }
  header #headline {
    color: #FFFBFA; }
    header #headline h1 {
      margin-top: 16%;
      font-size: 5em; }
      header #headline h1 span {
        background-image: linear-gradient(#ED213A, #93291E);
        padding: 0px 10px; }
    header #headline p {
      width: 700px;
      font-size: 1.2em;
      font-family: "Exo 2", sans-serif; }
    header #headline a {
      color: #fff;
      padding: 15px;
      font-size: 1.1em;
      font-weight: 600;
      text-decoration: none;
      border: 3px solid #93291E; }
      header #headline a:hover {
        transition: 1.3s;
        border: 3px solid rgba(0, 0, 0, 0);
        background: rgba(0, 0, 0, 0);
        background-image: linear-gradient(#ED213A, #93291E); }

main #about {
  height: 100vh;
  display: flex; }
  main #about .about {
    margin: auto;
    width: 500px;
    font-family: "Exo 2", sans-serif;
    color: #FFFBFA;
    font-size: 1.1em;
    border-left: 2px solid #ED213A;
    padding-left: 50px; }
    main #about .about h2 {
      padding-bottom: 30px; }
    main #about .about .lista {
      display: flex;
      justify-content: space-around; }
  main #about img {
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 2px; }

main #work {
  height: 100vh;
  color: #FFFBFA;
  display: flex;
  justify-content: space-between; }
  main #work .responsiveHeadline {
    display: none; }
  main #work #project {
    margin: auto; }
    main #work #project h2 {
      padding-bottom: 5vh; }
    main #work #project p {
      font-size: 1.05em;
      font-weight: 600;
      width: 500px;
      font-family: "Exo 2", sans-serif; }
    main #work #project ul {
      padding-left: 20px; }
      main #work #project ul li {
        padding: 2px 0px; }
    main #work #project span {
      font-weight: 400; }
  main #work .project {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow-y: scroll;
    float: right;
    width: 540px;
    overflow-x: hidden;
    /* Hide scrollbar for Chrome, Safari and Opera */ }
    main #work .project::-webkit-scrollbar {
      display: none; }
    main #work .project img {
      border-radius: 2px;
      margin: 0px auto;
      width: 400px;
      margin-bottom: 30px;
      transition: 0.4s ease; }
      main #work .project img:hover {
        transform: scale(1.3);
        overflow: visible;
        box-shadow: 0 35px 6px rgba(0, 0, 0, 0.6), 0 3px 6px rgba(0, 0, 0, 0.23); }

footer {
  color: #FFFBFA;
  height: 100vh; }
  footer #contact {
    display: flex;
    height: 96vh;
    margin: auto; }
    footer #contact .tekst {
      text-align: center;
      margin: auto;
      width: 500px; }
      footer #contact .tekst h2 {
        margin-bottom: 30px; }
      footer #contact .tekst p {
        font-size: 1.1em;
        margin-bottom: 50px; }
      footer #contact .tekst a {
        color: #fff;
        padding: 10px 20px;
        font-size: 1.1em;
        font-weight: 600;
        text-decoration: none;
        border: 3px solid #93291E; }
        footer #contact .tekst a:hover {
          transition: 1.3s;
          border: 3px solid rgba(0, 0, 0, 0);
          background: rgba(0, 0, 0, 0);
          background-image: linear-gradient(#ED213A, #93291E); }
  footer small {
    font-family: "Exo 2", sans-serif;
    display: flex;
    justify-content: center; }

#arrow {
  color: #fff;
  font-size: 36px;
  float: right;
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: none; }
  #arrow a {
    color: #fff;
    transition: .3s ease; }
    #arrow a:hover {
      font-size: 40px;
      padding-right: 5px; }
    #arrow a:visited {
      padding-right: 0px; }
    #arrow a:active {
      padding-right: 0px; }
    #arrow a:link {
      padding-right: 0px; }

#social {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  left: 25px;
  font-size: 20px; }
  #social a {
    color: #fff;
    transition: .3s ease; }
    #social a:hover {
      padding-left: 5px;
      transform: scale(1.15); }
  #social .social {
    padding: 10px 0px; }

#page {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 20px;
  top: 45%;
  color: #fff; }
  #page a {
    color: #fff; }
  #page .page_circle {
    padding: 5px 0px; }
  #page .active {
    background-color: #fff;
    border-radius: 50%;
    height: 5px;
    margin: 10px 0px; }

#load {
  z-index: 1000; }
  #load .load {
    width: 50%;
    height: 50%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill .3s ease forwards 2.5s; }
  #load path:nth-child(1) {
    stroke-dasharray: 331.2341613769531;
    stroke-dashoffset: 331.2341613769531;
    animation: loadAnimacija 1s ease forwards; }
  #load path:nth-child(2) {
    stroke-dasharray: 287.74371337890625;
    stroke-dashoffset: 287.74371337890625;
    animation: loadAnimacija  1s ease forwards 0.15s; }
  #load path:nth-child(3) {
    stroke-dasharray: 204.6783905029297;
    stroke-dashoffset: 204.6783905029297;
    animation: loadAnimacija 1s ease forwards 0.3s; }
  #load path:nth-child(4) {
    stroke-dasharray: 204.6783905029297;
    stroke-dashoffset: 204.6783905029297;
    animation: loadAnimacija 1s ease forwards 0.45s; }
  #load path:nth-child(5) {
    stroke-dasharray: 299.7310485839844;
    stroke-dashoffset: 299.7310485839844;
    animation: loadAnimacija 1s ease forwards .6s; }
  #load path:nth-child(6) {
    stroke-dasharray: 457.3367614746094;
    stroke-dashoffset: 457.3367614746094;
    animation: loadAnimacija 1s ease forwards .75s; }
  #load path:nth-child(7) {
    stroke-dasharray: 299.7310485839844;
    stroke-dashoffset: 299.7310485839844;
    animation: loadAnimacija 1s ease forwards 1s; }
  #load path:nth-child(8) {
    stroke-dasharray: 326.8431701660156;
    stroke-dashoffset: 326.8431701660156;
    animation: loadAnimacija 1s ease forwards 1.15s; }
  #load path:nth-child(9) {
    stroke-dasharray: 204.67889404296875;
    stroke-dashoffset: 204.67889404296875;
    animation: loadAnimacija 1s ease forwards 1.3s; }
  #load path:nth-child(10) {
    stroke-dasharray: 313.2584228515625;
    stroke-dashoffset: 313.2584228515625;
    animation: loadAnimacija 1s ease forwards 1.45s; }

header, main, #page,
#social, #arrow, #footer {
  visibility: hidden; }

@keyframes loadAnimacija {
  to {
    stroke-dashoffset: 0; } }

@keyframes fill {
  from {
    fill: transparent; }
  to {
    fill: #fff; } }

@media screen and (max-width: 400px) {
  h2 {
    font-size: 2em !important; }
  header nav .logo_img {
    width: 45px; }
  header #headline {
    width: 90%; }
    header #headline h1 {
      font-size: 2.5em !important;
      margin-top: 25%; }
    header #headline p {
      width: 80%;
      font-size: .95em; }
    header #headline a {
      padding: 10px;
      font-size: 1.05em; }
  main #about {
    flex-direction: column; }
    main #about .about {
      width: 90%;
      border-left: 0px;
      padding-left: 0px;
      font-size: .95em; }
      main #about .about .lista ul:first-of-type {
        margin-right: 65px;
        margin-left: 20px; }
    main #about img {
      display: none; }
  main #work {
    width: 100%;
    flex-direction: column-reverse; }
    main #work .responsiveHeadline {
      display: block;
      margin-bottom: 30px;
      line-height: 1 !important;
      width: 90%;
      margin-left: 10%; }
    main #work .project {
      float: none;
      width: 100%;
      flex-direction: row;
      margin: 0px;
      overflow-x: visible; }
      main #work .project img {
        width: 80%;
        height: 80%;
        margin: 0px 10px; }
        main #work .project img:hover {
          transform: scale(1);
          margin-top: 20px; }
    main #work #project {
      width: 90%; }
      main #work #project h2 {
        display: none; }
      main #work #project p {
        width: 100%;
        font-size: .95em; }
  footer #contact {
    width: 90%; }
    footer #contact .tekst p {
      font-size: .95em;
      width: 90%;
      margin: 0px auto 50px auto; }
    footer #contact .tekst a {
      font-size: 1.05em;
      padding: 10px; }
  #page, #arrow {
    right: 5px; }
  #social {
    position: absolute;
    bottom: 40px;
    flex-direction: row;
    justify-content: space-around;
    left: 50%;
    transform: translate(-50%, -50%); }
    #social a {
      margin: 0px 10px;
      font-size: 24px; }
      #social a:hover {
        padding: 0px;
        transform: scale(1.1); } }
